<p id="notice"><%= notice %></p>

<div class = "btn-group">
<%= button_to feed_items_path(feed: @feed, :format => "json"), class: "btn btn-default btn-sm" do %>
    JSON
<% end %>
<%= button_to :back, class: "btn btn-default btn-sm" do %>
    Back
<% end %>
</div>

<h1>Listing Items</h1>

<% @items.each do |item| %>
  <h2><%= item.title %></h2>
  <div class = "wrapper">
    <p class="demo-1"><%= item.description %></p>
  </div>
<% end %>


