<p id="notice"><%= notice %></p>


  <div class="btn-group">
    <div style="float:left;"><%= button_to 'JSON', feed_items_path(feed: @feed, :format => "json"), method: :get, class: "btn btn-default btn-sm" %></div>
    <div style="float:right;"><%= button_to 'Back', feeds_path, method: :get, class: "btn btn-default btn-sm" %></div>
  </div>

<br>
<h1>Listing Items</h1>

<% @items.each do |item| %>
    <h2><%= item.title %></h2>
    <div class="wrapper">
      <p><%= wrap(item.description) %></p>
    </div>
<% end %>
