<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class = "form-group col-lg-1">
        <%= f.label :link %>
        <%= f.text_field :link, required: "required", class: 'form-control truncate-50' %>
    </div>
    <br>
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
